@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* * {
  margin: 0;
  padding: 0;
} */
.columns-block {
  display: flex;
  flex-wrap: wrap;
}

.left-column-block {
  width: 50%;
  position: fixed;
  overflow: hidden;
  text-align: center;
  left: 0;
}

.right-column-block {
  width: 50%;
  position: absolute;
  right: 0;
}

.header {
  background-color: bisque;
  margin: 0;
  padding: 0;
  height: 100vh;
  vertical-align: middle;
  position: relative;
}

.header .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  padding: 5%;
}

.header .content h1 {
  font-size: 40px;
  color: rgb(10, 10, 10);
  /* margin-bottom: 10px; */
}

.header .content p {
  color: rgb(14, 15, 15);
  font-size: 20px;
}

/* .header .content .social-icon {
  display: block;
  margin: 0;
  padding: 0;
} */

.header .content .social-icon li {
  display: inline-block;
  margin: 0 4px;
}

.header .content .social-icon li a {
  color: white;
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: 2px solid rgb(163, 154, 154);
  border-radius: 50%;
  font-size: 20px;
}

.header .content .social-icon li a:hover {
  border-color: white;
}

.section-wrapper {
  padding: 40px;
}

.section-title {
  margin-bottom: 15px;
}

.section-title h2 {
  color: rgb(0, 0, 0);
}

.profile-picture img{
  width: 555px;
}

